extends ../asidebase.pug

block title 
    | Выбор предмета

block header-content
    h1 Выберите предмет
block content
    .class-choose-window
        .class__block#class_math
            img(src="../img/class_math.png", alt='math')
            p Математика
        .class__block#class_geometry
            img(src="../img/class_geometry.png", alt='geometry')
            p Геометрия
        .class__block.class__block_chosen#class_algebra
            img(src="../img/class_algebra.png", alt='algebra')
            p Алгебра
        .class_button
            button(type='submit') Выбрать