extends ../formsbase.pug

block content
    .content__icon
    form.content__login
        input(type="text" placeholder="Имя")
        input(type="password" placeholder="Пароль")
        button(type="submit") Вход