extends ../asidebase.pug

block title 
    | Выбор предмета

block header-content
    .header__level-balls-line
        .level-ball.ball-done
        .level-ball.ball-skip
        .level-ball.ball-current
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball.final-ball
        img(src="..//img/crown.png", alt="crown")
        

block content 
    .task-window.task-ask
        .question-block
            p Для приготовления обеда повару понадобилось 24 кг картошки, свеклы в 3 раза меньше, а лука в 2 раза меньше чем свеклы. Сколько килограмм лука потратил повар? Впишите правильный ответ.
        form(action="")
            input(type="text" name="answer" placeholder="Впиши ответ")
            input(type="submit" value="Ответить")
    

        

