extends ../asidebase.pug

block title 
    | TaskPuzzle

block header-content
    .header__level-balls-line
        .level-ball.ball-done
        .level-ball.ball-skip
        .level-ball.ball-current
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball
        .level-ball.final-ball
        img(src="..//img/crown.png", alt="crown")
        
block content 
    .task-window.puzzle-ask
        .puzzles-block
            .puzzle-static-piece#static-piece-1
                h1 4
            .puzzle-static-piece#static-piece-2
                h1 +
            .puzzle-cell.js-puzzle-cell
                h1 ?
            .puzzle-static-piece#static-piece-3
                h1 =
            .puzzle-static-piece#static-piece-4
                h1 9
        .question-block.puzzle
            p Выберите правильную цифру, чтобы пример выше правильно решался.
        .puzzles-answer_block
            //- js_ подписи классы для простого взаимодействия в js сделала, можно убрать, как удобно 
            .puzzle__piece.js-puzzle-piece 
                h1 1
            .puzzle__piece.js-puzzle-piece
                h1 4
            .puzzle__piece.js-puzzle-piece
                h1 7
            .puzzle__piece.js-puzzle-piece
                h1 5
    #task-response     
 
block script
    script.
        alert('xui')
        async function responseTask() {
            try {
                const message = await eel.response_task()();
                // Обновляем содержимое элемента с id="task-response"
                document.getElementById('task-response').textContent = message;
                console.log(message);
            } catch (error) {
                location.href = "./levels-main.html";
                alert('Произошла ошибка');
                console.error(error);
            }
        }
        responseTask();