extends ../formsbase.pug

block content
    .profile-window 
        .profile-window__top
            .content__icon
            p Степанов Дмитрий
        .profile-window__bottom
            .profile__stats 
                .tab
