@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$TextGreen: #378E5F;

* {
    font-family: "Balsamiq Sans", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
}


// основной грид
.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background-main.png');
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 120px 1fr;
    gap: 30px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "aside header"
        "aside content";

    .form-window {
        position: absolute;
        width: 1220px;
        height: 800px;
        background-image: url('../img/form_background.png');
        background-size: contain;
        background-repeat: no-repeat;
        left: calc((100% - 1220px)/2);
        top: calc((100% - 800px)/2);
        display: flex;
        justify-content: center;
        align-items: center;

        .form-window__wrapper {
            width: 625px;
            height: 605px;
            // border: 2px solid red;

            .form-window__content {
                // display: flex;

                .content__icon {
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 175px;
                    height: 175px;
                    border: green 3px solid;
                    border-radius: 20px;
                    background-image: url(../img/placeholder.jpg);
                }

                .content__login {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding-top: 60px;

                    input {
                        width: 100%;
                        height: 65px;
                        border-radius: 20px;
                        border: solid 3px #979797;
                        font-size: 36px;
                        text-align: center;
                        margin-bottom: 53px;
                    }

                    button {
                        width: 100%;
                        height: 120px;
                        background-color: #378E5F;
                        color: #FFFFFF;
                        border: solid 3px #00E56A;
                        border-radius: 20px;
                        font-size: 36px;
                        transition: all 0.05s ease-in-out;
                    }

                    button:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
}

.wrapper_auth {
    background-image: url('../img/auth_background.png');
}

.aside {
    grid-area: aside;
    background-image: url('../img/Background.png');
    background-position: top -20px left -20px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;

    .aside__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 235px;
        margin: 0 auto;
        justify-items: center;
        color: $TextGreen;
        position: relative;
        padding-top: 40px;

        button {
            font-size: 24px;
            width: 100%;
            height: 70px;
            background-color: white;
            margin: 20px 0;
            color: $TextGreen;
            border: 3px solid rgb(143, 143, 143);
            border-radius: 10px;
        }

        .aside__top {
            width: 100%;
            text-align: center;
            font-size: 24px;

            .aside__avatar {
                margin: 20px auto;
                background-position: center;
                background-size: contain;
                width: 100px;
                height: 100px;
                border: green 4px solid;
                border-radius: 5px;
            }
        }

        .aside__middle {
            width: 100%;
            text-align: center;
        }

        .aside__bottom {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;

            .aside__exit {
                color: red;
                border: 1px solid red;

            }
        }
    }
}

.header {
    grid-area: header;

    .header-block {
        padding-top: 30px;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        border-radius: 0 0 20px 20px;
        background-color: #F0F0F0;
        border: green 4px solid;
        border-top-style: none;

    }
}

.content {
    grid-area: content;
}





// КОНТЕНТ

// Выбор предмета
.class-choose-window {
    // position: absolute;
    // right: 200px;
    margin: 50px auto;
    padding: 70px 47px 47px 20px;
    background-color: #F0F0F0;
    border: solid 3px green;
    border-radius: 20px;
    width: 1300px;
    height: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70% 30%;
    gap: 30px 20px;
    grid-template-areas:
        "obj1 obj2 obj3"
        "button button button";

    img {
        width: 275px;
    }

    p {
        font-size: 30px;
        color: $TextGreen;
    }

    #class_math {
        grid-area: obj1;
    }

    #class_geometry {
        grid-area: obj2;
    }

    #class_algebra {
        grid-area: obj3;
    }

    .class_button {
        grid-area: button;
        text-align: center;

        button {
            font-size: 30px;
            width: 235px;
            height: 70px;
            background-color: white;
            margin: 20px 0;
            color: $TextGreen;
            border: 3px solid rgb(143, 143, 143);
            border-radius: 10px;

        }
    }

    .class__block {
        text-align: center;
        padding: 20px;
    }

    .class__block_chosen {
        outline: 4px solid green;
        border-radius: 20px;
    }

}

.header-block {
    text-align: center;

    h1 {
        color: $TextGreen;
        font-size: 45px;
    }
}

// ЗАДАЧКИ: Текстовый вопрос

.header__level-balls-line {
    margin-left: 28%;
    display: flex;
    gap: 15px;
    .level-ball {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: white;
        border: grey 2px solid;
    }
    .ball-done{
        background-color: #31EA86;
    }
    .ball-skip{
        background-color: grey;
    }
    .ball-current{
        outline:#31EA86 3px solid;
        border: white ;
        outline-offset: 3px;
        background-color: #31EA86;
    }
    .final-ball{
        background-color: gold;
        border: 2px solid orange;
    }
    img{
        width: 40px;
    }

}

.task-window {
    margin: 150px auto;
    padding: 40px 127px;
    background-color: #F0F0F0;
    border: solid 3px green;
    border-radius: 20px;
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    gap: 30px 20px;

    .question_block {
        width: 100%;
        background-color: rgb(49, 234, 134, 0.5);
        border-radius: 20px;
        color: $TextGreen;
        padding: 20px 30px;
        font-size: 30px;
    }

    form {
        display: flex;
        justify-content: space-between;

        input[type="submit"] {
            font-size: 30px;
            width: 30%;
            height: 65px;
            background-color: white;
            color: $TextGreen;
            border: 3px solid rgb(143, 143, 143);
            border-radius: 10px;
        }
    }

    input[type="text"] {
        width: 60%;
        height: 65px;
        background-color: white;
        color: $TextGreen;
        border: 3px solid rgb(143, 143, 143);
        border-radius: 10px;
        font-size: 30px;
        text-align: center;

    }

}