@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Balsamiq Sans", sans-serif;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background-main.png");
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 120px 1fr;
  gap: 30px 0px;
  grid-auto-flow: row;
  grid-template-areas: "aside header" "aside content";
}
.wrapper .form-window {
  position: absolute;
  width: 1220px;
  height: 800px;
  background-image: url("../img/form_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: calc((100% - 1220px) / 2);
  top: calc((100% - 800px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .form-window .form-window__wrapper {
  height: 100%;
  width: 1048px;
}

.wrapper_auth {
  background-image: url("../img/auth_background.png");
}

.aside {
  grid-area: aside;
  background-image: url("../img/Background.png");
  background-position: top -20px left -20px;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}
.aside .aside__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 235px;
  margin: 0 auto;
  justify-items: center;
  color: #378E5F;
  position: relative;
  padding-top: 40px;
}
.aside .aside__wrapper button {
  font-size: 24px;
  width: 100%;
  height: 70px;
  background-color: white;
  margin: 20px 0;
  color: #378E5F;
  border: 3px solid rgb(143, 143, 143);
  border-radius: 10px;
}
.aside .aside__wrapper .aside__top {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.aside .aside__wrapper .aside__top .aside__avatar {
  margin: 20px auto;
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  border: green 4px solid;
  border-radius: 5px;
}
.aside .aside__wrapper .aside__middle {
  width: 100%;
  text-align: center;
}
.aside .aside__wrapper .aside__bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.aside .aside__wrapper .aside__bottom .aside__exit {
  color: red;
  border: 1px solid red;
}

.header {
  grid-area: header;
}
.header .header-block {
  padding-top: 30px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  background-color: #F0F0F0;
  border: green 4px solid;
  border-top-style: none;
  text-align: center;
}
.header .header-block h1 {
  color: #378E5F;
  font-size: 45px;
}

.content {
  grid-area: content;
}

.content__auth-window {
  width: 625px;
}
.content__auth-window .auth-window__user-icon {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 175px;
  height: 175px;
  border: green 3px solid;
  border-radius: 20px;
  background-image: url(../img/placeholder.jpg);
}
.content__auth-window .auth-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
}
.content__auth-window .auth-form input {
  width: 100%;
  height: 65px;
  border-radius: 20px;
  border: solid 3px #979797;
  font-size: 36px;
  text-align: center;
  margin-bottom: 53px;
}
.content__auth-window .auth-form button {
  width: 100%;
  height: 120px;
  background-color: #378E5F;
  color: #FFFFFF;
  border: solid 3px #00E56A;
  border-radius: 20px;
  font-size: 36px;
  transition: all 0.05s ease-in-out;
}
.content__auth-window .auth-form button:active {
  transform: scale(0.9);
}

.class-choose-window {
  margin: 50px auto;
  padding: 70px 47px 47px 20px;
  background-color: #F0F0F0;
  border: solid 3px green;
  border-radius: 20px;
  width: 1300px;
  height: 630px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70% 30%;
  gap: 30px 20px;
  grid-template-areas: "obj1 obj2 obj3" "button button button";
}
.class-choose-window img {
  width: 275px;
}
.class-choose-window p {
  font-size: 30px;
  color: #378E5F;
}
.class-choose-window #class_math {
  grid-area: obj1;
}
.class-choose-window #class_geometry {
  grid-area: obj2;
}
.class-choose-window #class_algebra {
  grid-area: obj3;
}
.class-choose-window .class_button {
  grid-area: button;
  text-align: center;
}
.class-choose-window .class_button button {
  font-size: 30px;
  width: 235px;
  height: 70px;
  background-color: white;
  margin: 20px 0;
  color: #378E5F;
  border: 3px solid rgb(143, 143, 143);
  border-radius: 10px;
}
.class-choose-window .class__block {
  text-align: center;
  padding: 20px;
}
.class-choose-window .class__block_chosen {
  outline: 4px solid green;
  border-radius: 20px;
}

.header__level-balls-line {
  margin-left: 28%;
  display: flex;
  gap: 15px;
}
.header__level-balls-line .level-ball {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: grey 2px solid;
}
.header__level-balls-line .ball-done {
  background-color: #31EA86;
}
.header__level-balls-line .ball-skip {
  background-color: grey;
}
.header__level-balls-line .ball-current {
  outline: #31EA86 3px solid;
  border: white;
  outline-offset: 3px;
  background-color: #31EA86;
}
.header__level-balls-line .final-ball {
  background-color: gold;
  border: 2px solid orange;
}
.header__level-balls-line img {
  width: 40px;
}

.task-window {
  margin: 150px auto;
  padding: 40px 127px;
  background-color: #F0F0F0;
  border: solid 3px green;
  border-radius: 20px;
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  gap: 30px 20px;
}
.task-window .question_block {
  width: 100%;
  background-color: rgba(49, 234, 134, 0.5);
  border-radius: 20px;
  color: #378E5F;
  padding: 20px 30px;
  font-size: 30px;
}
.task-window form {
  display: flex;
  justify-content: space-between;
}
.task-window form input[type=submit] {
  font-size: 30px;
  width: 30%;
  height: 65px;
  background-color: white;
  color: #378E5F;
  border: 3px solid rgb(143, 143, 143);
  border-radius: 10px;
}
.task-window input[type=text] {
  width: 60%;
  height: 65px;
  background-color: white;
  color: #378E5F;
  border: 3px solid rgb(143, 143, 143);
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
}

.profile-window {
  margin: 70px 0 50px 0;
  display: grid;
  height: 100%;
  row-gap: 100px;
}
.profile-window .profile-window__top {
  justify-content: center;
  display: flex;
  align-items: center;
}
.profile-window .profile-window__top p {
  font-size: 30px;
  color: #378E5F;
  margin-left: 36px;
}
.profile-window .profile-window__top .profile-window__user-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 175px;
  height: 175px;
  border: green 3px solid;
  border-radius: 20px;
  background-image: url(../img/placeholder.jpg);
}
.profile-window .profile-window__top .profile-window__back {
  background-color: #E45454;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  top: 54px;
  right: 54px;
}
.profile-window .profile__stats .tab {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  outline: #979797 3px solid;
  border-radius: 20px;
}
.profile-window .profile__stats .tab > input[type=radio] {
  display: none;
}
.profile-window .profile__stats .tab-content {
  display: none;
  width: 100%;
  margin-top: 60px;
}
.profile-window .profile__stats .tab-content .tab__stat-block {
  text-align: center;
}
.profile-window .profile__stats .tab-content .tab__stat-block h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.profile-window .profile__stats .tab-content .tab__stat-block .stat_block__cirlce {
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.profile-window .profile__stats .tab-content .tab__stat-block .stat_block__cirlce p {
  margin-top: 40%;
  font-size: 30px;
}
.profile-window .profile__stats .tab-content .stat-good {
  color: rgb(69, 216, 55);
}
.profile-window .profile__stats .tab-content .stat-good .stat_block__cirlce {
  border: 5px solid rgb(69, 216, 55);
}
.profile-window .profile__stats .tab-content .stat-mid {
  color: #F08200;
}
.profile-window .profile__stats .tab-content .stat-mid .stat_block__cirlce {
  border: 5px solid #F08200;
}
.profile-window .profile__stats .tab-content .stat-bad {
  color: #E45454;
}
.profile-window .profile__stats .tab-content .stat-bad .stat_block__cirlce {
  border: 5px solid #E45454;
}
.profile-window .profile__stats #tab-btn-1:checked ~ #content-1,
.profile-window .profile__stats #tab-btn-2:checked ~ #content-2,
.profile-window .profile__stats #tab-btn-3:checked ~ #content-3 {
  display: flex;
  justify-content: space-around;
}
.profile-window .profile__stats label {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  text-decoration: none;
  color: #378E5F;
  border: 0;
  background: 0 0;
  height: 30px;
  font-size: 20px;
}
.profile-window .profile__stats input[type=radio]:checked + label {
  cursor: default;
  outline: 3px solid #378E5F;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */