doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/reset.css")
        link(rel="stylesheet" href="../css/reset.css")
        link(rel="stylesheet" href="./css/style.css")
        link(rel="stylesheet" href="../css/style.css")
        script(type="text/javascript" src="../eel.js")
        script(src="../js/jquery/jquery.js")
        title 
            block title
    body 
        .wrapper
            .aside
                .aside__wrapper
                    .aside__top
                        .aside__avatar(style="background-image:url(../img/placeholder.jpg)")
                        p.aside__username Дмитрий Степанов
                    .aside__middle
                        button.aside__back-button Профиль
                        button.aside__choise-button Выбор предмета
                    .aside__bottom
                        a(href="./class-choose.html")
                            button.aside__exit <- Выйти
            .header 
                .header-block
                    block header-content
            .content
                block content
     
    block script
        script.
            let btn_1 = document.querySelector('.aside__back-button')
            btn_1.addEventListener('click', ()=>{
                location.href = "./userprofule.html"
            })
            let btn_2 = document.querySelector('.aside__choise-button')
            btn_2.addEventListener('click', ()=>{
                location.href = "./class-choose.html"
            })
            

